.course-content .single-section {
    background-color: white;
}
#header .header-main {
    padding: 12px 0;
    background-color: white;
}
.breadcrumb-nav .breadcrumb {
    background-color: white;
}
